*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
/************************************************* helper class *******************************/

.container{
	width:1060px;
	margin:0 auto;
}
a:link,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
.row,
.row::after,
.row::before {
  clear: both;
  display: table;
  width: 100%;
}
.row > :first-child{
	padding-left:0 ;
	/* margin:0; */
}
.row > :last-child{
	padding-right:0;
	/* margin:0; */
}
.text-right{
	text-align:right;
}
.text-center{
	text-align:center;
}

.col3,
.col9,
.col10,
.col12,
.col6,
.col4{
	float:left;
	padding: 0px 30px;
}
.col3{
	width:25%;
}
.col9{
	width:75%;
}
.mb-32{
	margin-bottom:32px;
}
.mb-90{
	margin-bottom:90px;
}
.col6{
	width:50%;
/* padding:0 15px; */
	
}
.col10{
	width: calc((100% * 10) / 12);
}
.col12{
	width:100%;
}
.col4{
	width:calc(100% /3);
}
.ml-onegrid{
	margin-left: calc(100% / 12);
}
.mr-onegrid{
	margin-left: calc(100% / 12);
}
.mi-fourgrid{
	margin-left: calc(100% / 3);
}
.mb-80{
	margin-bottom:80px;
}
.mb-70{
	margin-bottom:70px;
}
.mb-50{
	margin-bottom:50px;
}
.mb-130{
	margin-bottom:130px;
}
.mb-50{
	margin-bottom:-50px;
}

/******************************************** heroimg section ****************************************/
.heroimg{
	padding:70px 0 100px ;
}
.logo{
	font-size:30px;
	color:#000;
	text-transform:uppercase;
}
.navbar{
	list-style:none;
	
	 /* margin-right: -65px; */
}
.navbar li{
  /* list-style: none; */
  display: inline-block;
  margin:0 25px;
}

.navbar li a{
	color:#626262;
	font-size:14px;
	display:inline-block;
	text-transform:uppercase;
	padding:10px;
	
}
.navbar li:last-child a{
	padding:0;
}
.navbar li:first-child a{
	padding:0;
}
/********************************************** photodairy section css */
.seclable{
	color:#b4ad9e;
	font-size:14px;
	text-transform:uppercase;
	margin-bottom:30px;
	font-family: 'Playfair Display', serif;
}
.secheading{
	color:#626262;
	font-size:30px;
	margin-bottom:40px;
	font-family: 'Playfair Display', serif;
	font-weight:lighter;
}
.secinfo{
	color:#626262;
	font-size:14px;
	line-height:19px;
	font-family: 'Playfair Display', serif;
	text-align:justify;
}
/*********************************************** thumbnail section css */
.thumbnail{
	padding:105px 0 120px;
}
/*********************************************** mail section */

.sec-mail{
	background-color:#f0f0f0;
	/* text-align:center; */
	padding:70px 0;
}
.mailheading{
	color:#333;
	font-size:30px;
	font-weight:lighter;
	margin-bottom:70px;
}
/*************************************** btn css */
.signup{
	position:relative;
}
.btn-loadmore{
	cursor:pointer;
	color:#8a8a8a;
	font-size:20px;
	padding:25px 35px;
	background-color:#fff;
}
.input-mail{
	width:100%;
	border:0;
	border-bottom:1px solid black;
	background-color:transparent;
	outline:none;
	padding:0 0 0 10px;
	height:30px;
}
.sec-mail i{
	position:absolute;
	font-size:30px;
	top:-5px;
	right:5px;
	color:#373735;
	transform:rotate(45deg);
}
/*********************************** footer section css */
.footer{
	background-color:#f0f0f0;
	padding:40px 0 45px;
	/* display:inline-block; */
}
/* .footer ul{ */
	/* list-style:none; */
	/* display:inline-block; */
/* } */
.footer ul li{
	list-style:none;
	display:inline-block;
}
.footer ul li a{
	padding:10px;
	color:#000;
	font-size:14px;
	font-weight:lighter;
}